@import "header.css";
@import "linkhome.css";
@import "linkprodutos.css";
@import "linkquemsomos.css";
@import "linkfaleconosco.css";
@import "linkpreto.css";
@import "linkprodutos.css";
@import "imagemquemsomos.css";
@import "apresentacao.css";
@import "titulo.css";
@import "footer.css";

main {
    margin-top: 32px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul li{
    list-style: none;
    display: inline-block;
}

.tudinho {
    display: flex;
    justify-content: center;
}

.paimain{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.main1{
width: 80%;
}
.main2{
    width: 20%;

}

.tituloquemsomos{
    margin-top: 100px;
}

.ladoesquerdo{
    width:60%;
    margin-left: 5%;
}

.ladodireito{
    color:white;
    width: 35%;
    font-family: 'Rubik', sans-serif;
    margin-right: 5%;
    font-size: 20px;
    text-align: center;

}

.pmorgan{
    font-family: 'Hello Morgan';
    color: goldenrod;
    width: 900px;
    height: 200px;
    font-size: 85px;
    }
