
@font-face {
    font-family: 'Hello Morgan';
    src: url(../Fontes/HelloMorgan.ttf)
}

#titulo{
    font-family: 'HelloMorgan';
    color: goldenrod;
    display: flex;
    justify-content: center;
    font-size: 70px;
}

