
main{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#hellomorgan {
    font-family: 'hellomorgan';
    color: goldenrod;
    font-size: 90px;
}

.tituloGarotas {
    width: 100%;
    height: 50px;
    text-align: center;
}

.video{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 80px;
    
}